
  nav {    
    background-color:grey;
    height: 130px;
  }
  ul{
    direction: rtl;
    margin:0;
  }
   ul > li {
    display: inline;
  }
  
  ul > li > a {
    display: inline-block;
    font-family: ariel bold;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  nav > ul > li > a:hover {
   color: blue;
  }
  button > a {
   text-decoration: none;
   color: grey;
  }
  .menu {
    position: relative;
   
  }
  .submenu {
    display: none;
    position: absolute;
    right: 0;
    z-index:1;
    background-color: grey;
    text-decoration: none;
   }
   .submenu > a {
     display : block;
     padding: 7px;
     color: white;
     text-decoration: none;

   }
   .menu:hover > .submenu {
    display: block;
   }
    input {
    direction: rtl;
  }
  
.container {
    width: 900px; margin: auto; 
}
button {
  float: right;
  }
.subheader > a {
text-decoration: none;
}
.content h4 {
  color: blue;
    }

.leftCube {
  top: 100px;
  margin: 20px;
  position: relative;
  float: left;
  left: 100px;
}

.formCube {
  position: relative;
  float: right;
  top: 40px;
}
.leftCube > .content {
  right: 30px;
  top: 0;
 }
.content {
  position: absolute;
  direction: rtl;
  top: 50px;
  right: 3px;
  left: 50px;
 }
form {
  padding: 20px;
  width: 350px;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin: 10px;
}

.row > label {
  width: 30%;
  float: right;
}

.row > input {
  width: 60%;
  float: right;
}

.application {
  height: 50px;
}
form > .row > button {
  float: left;
  margin-left: 25px;
}
input.application {
  width: 295px;
  height: 70px;
}

h5 {
margin:0;
}

footer {
  background-color:grey;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
}
