
  nav {    
    background-color:grey;
    height: 130px;
  }
  ul{
    direction: rtl;
    margin:0;
  }
   ul > li {
    display: inline;
  }
  
  ul > li > a {
    display: inline-block;
    font-family: ariel bold;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  nav > ul > li > a:hover {
   color: blue;
  }
  button > a {
   text-decoration: none;
   color: grey;
  }
  .menu {
    position: relative;
   
  }
  .submenu {
    display: none;
    position: absolute;
    right: 0;
    z-index:1;
    background-color: grey;
    text-decoration: none;
   }
   .submenu > a {
     display : block;
     padding: 7px;
     color: white;
     text-decoration: none;

   }
   .menu:hover > .submenu {
    display: block;
   }
    input {
    direction: rtl;
  }
  main {
    direction: rtl;
 }
.container {
    width: 900px; margin: auto; 
}
.cube {
  width: 293px;
  height: 355px;
  position: relative;
  float: right;
  top: 40px;
}
.cube > img {
  border-bottom-right-radius: 10%;
  }
.content {
  position: absolute;
  color: white;
  background:rgba(100, 100, 100, 0.8);
  bottom: 3px;
  right: 3px;
  left: 50px;
  border-bottom-right-radius: 15%;
}
.cube1 {
  width: 293px;
  height: 355px;
  position: relative;
  float: right;
  top: 80px;
}
.content1 {
  position: absolute;
  bottom: 150px;
  right: 3px;
  width: 293px;
  }
.cube1 > img {
  height: 200px;
  width: 293px;
}

.areas > a {
  display: block;
  padding: 20px;
  height: 10px;
}
.raw::after {
  content:"";
  display:table;
} 
.raw1::after {
  content:"";
  display:table;
} 
h4 {margin: 15px; 
}
p {margin: 7px; 
}
.content1 > a {
  float: left;
  margin: 10px;
  }
.map {
  float: left;
}
footer {
  background-color:grey;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
}
